* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  display:flex;
  flex-direction:column;
}
.header-content {
  position: relative; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  background-color: orange; 
  padding: 5px 10px;
}
.logo {
  width: 150px; 
  height: 40px; 
  margin: 10px 5px;
}
.header-auth {
  display: flex; 
  flex-direction: column
}
.header-auth-controlls {
  display: flex; flex-direction: row; justify-content: space-between; align-items: center;
}
.header-auth-controlls > input {
  padding: 2px 5px;
}
.nav {
  position:relative;display:flex;flex-direction:row;width: 100%; padding: 5px 10px;align-items: center; justify-content: space-between; align-content: space-between; background-color: rgb(251, 193, 84);
}
.nav-links {
  display: flex; flex-direction: row; justify-content: space-between; width: 100%; padding: 5px; flex-basis: 50%;
}
.nav > form {
  display: flex; flex-direction: row; padding: 5px; 
}