body {
  background-color: #f8f8f8;
  display: flex; 
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table, th, td {
  border: 1px solid;
}
table {
  border-collapse: collapse;
}
iframe {
  width: 100%;
  border: 0;
}
main {
  display: flex; flex-direction: row; height: 100%; justify-content: space-between;margin-top: 20px;
}

.input {
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.input > input, .input > textarea {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.feedback-form {
  margin-bottom: 20px;
}

.content {
  display:flex; width: 75%; justify-content: center; flex-direction: column;
}
.nav-right {
  display: flex; flex-direction: column; height: 100%; padding: 20px 10px; background-color: orange; min-height: 100vh; flex-basis: 20%; align-items: center;
}
.nav-right > a {
  margin-bottom: 7px
}
.content-center {
  display: flex; flex-direction: column; height: 100%; flex-basis: 60%; padding: 0 20px;
}
.content-left {
  display: flex; flex-direction: column; height: 100%; padding: 20px 10px; background-color: orange; min-height: 100vh; flex-basis: 20%;
}
.catalog{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.catalog-item {
  background-color: orange;
  margin: 20px;
  width: 210px;
  text-align: center;
}
.catalog-item__image-wrapper, .catalog-item__image{
  height: 200px;
  width: 200px;
  padding: 5px;
}
figcaption {
  margin: 5px 0;
}
.desc-p {
  margin-bottom: 10px;
  color: #707070;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 16px;
}
.desc-table {
  margin-bottom: 20px;
}
.desc-p > img {
  width: 180px; height: 120px; float: right
}
h1 {
  margin-bottom: 20px; text-align: center;
}
h3 {
  color: black;
  font-size: 18px;
  font-weight: 400;
  background-color: #eaeaea;

}

.desc-short {
  color: #484343;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}